@model AppUser

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Main jumbotron for a primary marketing message or call to action -->
@*<section class="inner-banner" style="backend:#242c36 url(https://via.placeholder.com/1920x600)no-repeat;">
        <div class="container">
            <div class="caption">
                <h2>Get your jobs</h2>
                <p>Get your Popular jobs <span>202 New job</span></p>
            </div>
        </div>
    </section>*@


<section class="profile-detail">
    <div class="container" id="CV">
        <div class="col-md-12">
            <div class="row">
                <div class="basic-information">
                    <div class="col-md-3 col-sm-3">
                        <img src="~/UserImage/@Model.Image" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="profile-content">
                            <h2>@Model.Name @Model.Surname<span>@Model.Title</span></h2>
                            <p>@Model.CurrentWork</p>

                            <ul class="information">
                                <li><span>Name:</span>@Model.Name</li>
                                <li><span>Email:</span>@Model.Email</li>
                                <li><span>Mobile:</span>@Model.PhoneNumber</li>
                                <li><span>Company:</span>@Model.CurrentWork</li>
                                <li><span>Date of Birth:</span>@Model.DateOfBirth.ToShortDateString()</li>
                                @if (@Model.DriverLicense == true)
                                {
                                    <li><span>Driver License:</span>Yes</li>
                                }
                                else
                                {
                                    <li><span>Driver License:</span>No</li>
                                }

                            </ul>
                            <br />
                            <a href="/User/DownloadPdf/@Model.Id" type="submit" class="btn btn-primary">Download</a>

                        </div>
                    </div>



                    <ul class="social">
                        @*<li><a href="" class="facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
                            <li><a href="" class="google"><i class="fa fa-google-plus"></i>Google Plus</a></li>
                        *@
                        <li><a href="@Model.Twitter" class="twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                        <li><a href="@Model.Linkedin" class="linkedin"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                        @*<li><a href="" class="instagram"><i class="fa fa-instagram"></i>Instagram</a></li>*@
                        @if (ViewBag.follows == true)
                        {
                            <li>

                                <a href="/Friendship/RemoveFromFriends/@Model.Id">
                                    <div style="display: flex; align-items: center;">
                                        <i class="fa fa-users fa-2xl" style=" font-size: 36px; color: indianred; border: 1px solid indianred; border-radius: 10%; "></i>
                                        <span>Unfollow</span>
                                    </div>
                                </a>

                            </li>

                        }
                        else
                        {
                            <li>
                                <a href="/Friendship/AddToFriends/@Model.Id">
                                    <div style="display: flex; align-items: center;">
                                        <i class="fa fa-users fa-2xl" style=" font-size: 36px; color: lightskyblue; border: 1px solid lightskyblue; border-radius: 10%; "></i>
                                        <span>Follow</span>
                                    </div>
                                </a>
                            </li>
                        }

                    </ul>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-fw"></i> About Me
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <p>@Model.Explanation</p>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-leaf fa-fw"></i> Education:
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            @*<p>The front end is the part that users see and interact with, includes the User Interface, the animations, and usually a bunch of logic to talk to the backend. It is the visual bit that the user interacts with.</p>*@
                            <ul>
                                <li>@Model.UniversityName - @Model.DepartmentofUniversity</li>

                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-cog fa-fw"></i> Skills
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <p>@Model.Skills</p>
                            @*<span class="service-tag">Web Design</span>
                                <span class="service-tag">Graphics</span>
                                <span class="service-tag">Development</span>
                                <span class="service-tag">App design</span>
                                <span class="service-tag">IOS Apps</span>
                                <span class="service-tag">CMS Development</span>*@
                        </div>

                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-leaf fa-fw"></i> Languages:
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            @*<p>The front end is the part that users see and interact with, includes the User Interface, the animations, and usually a bunch of logic to talk to the backend. It is the visual bit that the user interacts with.</p>*@
                            <ul>
                                <li>@Model.Languages</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>